body { 
	font-family: Verdana, "Lucida Sans Unicode", sans-serif; 
	font-size: 2vw;
	line-height: 3vw;
	margin: auto;
	width: fit-content;
}
h1 {
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	margin: 2vw;
}
.choicename, .choiceright, .choicewrong, .button {
	line-height: 3vw;
	overflow: hidden;
	white-space: nowrap;
}
.button {
	display: inline-block;
	background-color: #aaaaaa;
	width: 19.5vw;
	margin: 1vw 0.5vw 0vw 0.5vw;
}
.choicestats {
	height: 6vw;
	width: 40vw;
	margin: 1vw auto;
}
.choicename {
	background-color: #bbbbbb;
	width: 100%;
}
.choiceright {
	background-color: #00ff00;
	float: right;
}
.choicewrong {
	background-color: #ff0000;
	float: left;
}