body { 
	font-family: Verdana, "Lucida Sans Unicode", sans-serif; 
	font-size: 2vw;
	line-height: 3vw;
	text-align: center;
	margin: 0;
}
#interactivearea {
	position: fixed;
	width: 55vw;
	margin-left: 42vw;
	height: 85vh;
	padding-top: 15vh;
}
#stats {
	width: 40vw;
	float: left;
	padding-left: 1vw;
}
#answer {
	position: absolute;
	bottom: 2vw;
}
#question {
	margin: 2vw;
}
h1 {
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	margin: 2vw;
}
.choicename, .choiceright, .choicewrong, .button {
	line-height: 3vw;
	overflow: hidden;
	white-space: nowrap;
}
.button {
	display: inline-block;
	width: 26.5vw;
	background-color: #aaaaaa;
	line-height: 25vh;
	margin: 0vw 0.5vw 0vw 0.5vw;
	border-radius: 10vw;
}
.choicestats {
	height: 6vw;
	width: 40vw;
	margin: 1vw auto;
}
.choicename {
	background-color: #bbbbbb;
}
.choiceright {
	background-color: #00ff00;
	float: right;
}
.choicewrong {
	background-color: #ff0000;
	float: left;
}